/* iphone 1-4s css */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	/* bottom section of home page */

.sfarchology {
    height: 178px;
}



	/* image slider */
	.device {
		height:172px;
	}

	/* about page */
		#about-content .section_p {
		padding-top:3px;
	}

	#about-content .section_p p:last-child {
		padding-top:2px;
	}


	/* anything with page class */
	.page {
		height:385px;
	}

	/* subpage */
	.subpage {
		height:480px;
	}
	/* map page elements */


	 #map-iscroll-base {
    max-height:375px;
	}

	/* #blog page */
	#blog-scroll-wrapper, #blog-scroll {
    max-height:350px;
	}

	/* Splash */
	#global-loading,#logo-wrapper,#global-loader {
		width:320px;
	}
	#global-loading {
		height:480px;
	}
	#logo-wrapper,#global-loader {
		height:240px;
	}
	#global-loader {
		top:240px;
	}
	#logo-wrapper div {
		height:240px;
		left:60px;
	}
	#logo-wrapper img {
		width:230px;
		top:15px;
		left:-9px;
	}
	#spinner {
		left:130px;
		top:10px;
	}

}
